.snakemake

data/*
auspice/*
nextstrain_upload/

*errors.csv

ingest/.snakemake/
ingest/benchmarks/
ingest/logs/

*/results/
*/temp/
*/data/

*.code-workspace

scripts/bin
scripts/__pycache__

.env

Simplot

compare-alignments

temp
benchmark
logs

# data to include
!/auspice/2025-12-30/
!/data/date_last_updated.txt
!/data/local_accn.txt
!/data/references

## part of nextstrain-builds-data repo
# data/meta_collab.tsv
# data/meta_public.tsv
# data/subgenotypes_rivm.csv
# data/clades_vp1.tsv